@import "tailwindcss";

.body_root {
  @apply bg-gradient-to-b from-white to-[#06B9AE] min-h-screen flex justify-center items-center;
}

@layer base {
  input.login {
    @apply bg-white py-2 px-3 rounded-md placeholder:text-shadow-gray-600;
  }

  .sizes-big-container {
    @apply flex justify-between items-center gap-6 font-semibold;
  }

  .sizes-container {
    @apply flex gap-2;
  }
  .sizes-details {
    @apply border-2 p-1 rounded-sm;
  }
  .details-location {
    @apply flex gap-2;
  }
  .switch {
    @apply rounded-full bg-[#06B9AE] hover:opacity-80 text-5xl pr-1 pl-0.5 text-white;
  }
.optCategory {
  @apply px-2 py-1 hover:bg-[#B6FFF6];
}
  select {
    appearance: base-select;
    &::picker(select) {
      appearance: base-select;
      border-radius: var(--radius-xl);
      padding: 4px;
      margin: 10px 0px;
      border-width: 2px;
      border-color: #06b9ae;
    }
  }
}
