@import "tailwindcss";

.body_root {
  @apply bg-gradient-to-bl from-[#373875] to-[#0c1141] min-h-screen flex justify-center items-center;
}

@layer base {
  input.login {
    @apply w-full pl-12 pr-4 py-3 bg-white/10 border border-white/20 rounded-xl text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-yellow-500/50 focus:border-transparent transition-all duration-300 backdrop-blur-sm;
  }
  .Icon{
    @apply w-5 h-5 text-gray-400;
  }
  .IconContainer{
    @apply absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none;
  }
  .label{
    @apply text-sm font-medium text-gray-200 block;
  }

  .sizes-big-container {
    @apply flex justify-between items-center gap-6 font-semibold;
  }
  .sizes-container {
    @apply flex gap-2;
  }
  .sizes-details {
    @apply border-2 p-1 rounded-sm;
  }
  .details-location {
    @apply flex gap-2;
  }
  .switch {
    @apply rounded-full bg-[#06B9AE] hover:opacity-80 text-5xl pr-1 pl-0.5 text-white;
  }
  .optCategory {
    @apply px-2 py-1 hover:bg-[#B6FFF6];
  }
  select {
    appearance: base-select;
    &::picker(select) {
      appearance: base-select;
      border-radius: var(--radius-xl);
      padding: 4px;
      margin: 10px 0px;
      border-width: 2px;
      border-color: #06b9ae;
    }
  }
}
